@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

.container {

  header {
    position: sticky;
    top: 0;
    z-index: 1;

    .head {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
      background-color: #10BBD5;

      &__logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 16px 52px;
        width: 1296px;
      }

      &__link {
        display: flex;
        align-items: center;
        flex-direction: row;
      }

      &__logo-text {
        color: #F8FDFE;
        font-family: Cabin;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

      }


      &__sum {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
      }

      &__price {
        color: #F8FDFE;
        font-family: Cabin;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
      }

      &__price-button {
        position: relative;
      }

      &__basket {
        border: none;
        background-color: #10BBD5;
        cursor: pointer;
        width: 40px;
        height: 40px;
      }

      &__zero {
        position: absolute;
        top: 13px;
        right: 8px;
        color: #000;
        font-family: Cabin;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 10px;
      }
    }

    .menu-background {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
      background-color: #FFF;


      &__menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 4px 52px;
        width: 1296px;
        background: #FFF;
      }

      &__menu-text {
        color: #000;
        font-family: Cabin;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }

      &__right-part-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
      }
    }
  }


  .main-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: #EEEEEF;

    &__main {
      display: flex;
      flex-direction: column;
      background-color: #EEEEEF;
      padding-bottom: 120px;
      width: 1400px;
    }

    &__comment {
      width: 1375px;
      position: fixed;
      top: 500px;
      display: flex;
      justify-content: end;
      z-index: 1;
    }


    &__comment-style {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #10BBD5;
      border-radius: 50%;
      width: 64px;
      height: 64px;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        transform: rotate(35deg);
      }
    }


    &__title {
      margin: 32px 52px;
      padding-bottom: 23px;
      border-bottom: 1px solid #A8A8A8;
      color: #1F1F1F;
      font-family: Cabin;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 40px;
    }

    &__main-card {
      margin-top: 24px;
      display: grid;
      grid-template-rows: 1fr auto;
      margin: 24px 52px 0 52px;
      gap: 32px;
    }

    &__card {
      width: 1296px;
      display: grid;
      grid-template-columns: repeat(4, 306px);
      gap: 24px;
    }

    &__card-content {
      background-color: white;
      padding: 32px;
      border: 1px solid #A8A8A8;
      position: relative;
    }

    &__img {
      position: relative;
      display: flex;
      justify-content: center;
      background-color: white;
      width: 241px;
      height: 280px;
    }

    &__photo {
      width: 178px;
      height: 280px;
    }

    &__badge {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      gap: 5px;
    }

    &__badge-style {
      color: #F8FDFE;
      text-align: center;
      font-family: Cabin;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      /* 150% */
    }

    &__badge-button {
      border-radius: 4px;
      padding: 4px 8px;
      display: flex;
      align-items: center;
      justify-content: center;

    }

    &__hit {
      background-color: #4200FF;
    }

    &__new {
      background-color: #AF39E7;
    }

    &__discount {
      background-color: #EA33C0;
    }



    &__card-text {
      margin: 16px 0px;
    }

    &__card-text-style {
      width: 242px;
      border-bottom: 1px solid #A8A8A8;
      overflow: hidden;
      color: var(--black, #1F1F1F);
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: Cabin;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
      /* 140% */
    }

    &__card-text-style-o {
      overflow: hidden;
      color: var(--gray, #8E8E8E);
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: Cabin;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      /* 150% */
      margin-bottom: 8px;
    }

    &__price {
      color: #E90000;
      font-family: Cabin;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px;
      /* 133.333% */
    }

    &__main-price {
      display: flex;
      gap: 24px;
    }


    &__price {
      color: #E90000;
      font-family: Cabin;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px;
      /* 133.333% */
    }

    &__price-other {
      color: var(--gray, #8E8E8E);
      font-family: Cabin;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px;
      /* 133.333% */
      text-decoration-line: strikethrough;
    }



    &__button {
      width: 241px;
      padding: 8px 24px;
      border: none;
      background-color: #4C394E;
      cursor: pointer;
      border-radius: 4px;
      transition: 0.5s;

      &:hover {
        background-color: #744978;
      }
    }

    &__text-button {
      color: var(--white, #F8FDFE);
      text-align: center;
      font-family: Cabin;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      /* 150% */

    }

    &__other {
      background-color: #4D762D;

      &:hover {
        background-color: #6DB236;
      }
    }
  }

  .footer-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: #4C394E;

    &__footer {
      width: 1296px;
      padding: 32px 52px;
      background-color: #4C394E;
      display: flex;
      justify-content: space-between;
    }

    &__footer-style {
      color: var(--white, #F8FDFE);
      font-family: Cabin;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      /* 150% */
    }
  }
}